<app-header (devolverPortfolio)="receberPortfolioProprio($event)" >
</app-header>

<div class="mostrar-portfolio-container">
  <div class="container">
    <div class="voltar-lista-portfolios-content">
      @if (!editando){
        <p (click)="irParaHome()" class="listar-portfolios-ahref">
          Ver outros portfólios
        </p>

      }
    </div>
  </div>

  @if (carregando){
    <div class="carregando">
      <h3 class="sr-only">Carregando</h3>
      <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 40px;height: 40px"></div>
    </div>
  } @else {


  @if (portfolio.email==null || portfolio.email == '') {
    <div class="pagina-not-found">
      <h3>Portfólio  não encontrado!</h3>
    </div>
  }@else{
    <div>
      <div class="mostrar-portfolio-content">
        <!-- Botão editar / salvar / cancelar vá até a página 88 para a próxima etapa-->
        @if (!editando) {
          <!-- Primeira criação do portfólio -->
          @if (criarPortfolioPrimeiraVez && !portfolioProprio.email) {
            <!-- Não mostra nada -->
          }
          @else if (!portfolioProprio.email) {
            <!-- Usuário não logado -->
            <div class="botao-editar impedido edit-impedido lapis"
                 title="Você precisa estar logado para alterar o portfólio">
              <img src="edit-denied.jpg" alt="alterar">
            </div>
          }
          @else if (portfolioProprio.email == portfolio.email) {
            <!-- Pode editar o próprio portfólio -->
            <div class="botao-editar lapis edit-permitido"
                 (click)="alterar()"
                 title="Clique para editar seu portfólio">
              <img src="edit.webp" alt="alterar">
            </div>
          }
          @else {
            <!-- Tentando editar o portfólio de outra pessoa -->
            <div class="botao-editar impedido edit-impedido lapis"
                 title="Você não pode editar o portfólio de outra pessoa">
              <img src="edit-denied.jpg" alt="alterar">
            </div>
          }
        }
        @else {
          <div class="botao-editar editando">
            @if (podeSalvarSemErroDeRequisicao) {
              @if (!carregandoSalvamento) {
                <button class="salvar btn btn-primary" (click)="abrirModalSalvar()">
                  salvar
                </button>
              }
              @else {
                <button class="salvar btn btn-primary" disabled>
                  <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                </button>
              }
            }
            @else {
              <button class="salvar btn btn-primary impedido"
                      title="Você tem campos mal preenchidos">
                salvar
              </button>
            }

            @if (!criarPortfolioPrimeiraVez) {
              <button class="cancelar btn btn-secondary" (click)="abrirModalNaoSalvar()">
                cancelar
              </button>
            }
          </div>
        }

        <header class="nome-breve-descricao-container">
          <div class="nome-breve-descricao-content">
            @if (criarPortfolioPrimeiraVez){
              <h1 class="display-4 nome-text">Crie seu portfólio</h1>
            }
            @if (editando){
              <div class="nome-breve-descricao">
                <label>Seu nome</label>
                <input type="text" class="form-control" [(ngModel)]="portfolioNovo.nome"  maxlength="30"/>
              </div>
              @if(portfolioNovo.nome == ""){
                <div class="alert alert-danger" role="alert">
                  Nome não pode ser vazio!
                </div>
              }
                } @else {
              <h1 class="display-4 nome-text quebrar-linha">{{ portfolio.nome }}</h1>
            }

            <div class="nome-breve-descricao">
              @if (editando){
                <label>Breve descrição</label>
                <textarea class="form-control breve-descricao-edit" [(ngModel)]="portfolioNovo.breveDescricao" maxlength="80"></textarea>
                <div class="contador-caracteres text-end mt-1" style="font-size: 14px; color: white;">
                  {{ portfolioNovo.breveDescricao.length || 0 }}/80
                </div>
              } @else {
                <p class="display-6 breve-descricao-view nao-ultrapassar-linha quebrar-linha"> {{ portfolio.breveDescricao }}</p>
              }
              </div>
          </div>

        </header>

        <!-- Foto e Descrição lado a lado -->

          @if (editando){
            <div class="username-container">
              <div class="username-content">
                <div class="label-e-duvida">
            <label>O final da url do seu portfolio</label>
                  <div class="duvida-container" >
                <div class="duvida"
                     >
                  <img src="duvida.png" (mouseenter)="iniciarTooltip()"
                       (mouseleave)="cancelarTooltip()">
                </div>


                  </div>
                </div>
                @if (mostrarTooltip){
                  <div class="tooltip-container">
                    <div class="tooltip-text">
                      <p>  Serve como identificador único.</p>
                      <p>  Só pode conter letras, números, hífens (-) e traços inferiores (_)</p>
                    </div>
                  </div>
                }
            <input type="text" class="form-control" style="width: 60%" [(ngModel)]="portfolioNovo.username" maxlength="20" (keypress)="permitirCaracteres($event)"/>
            <p style="margin-top: 10px">https://portfoliomaker.vercel.app/portfolios/<b style="font-size: 18px">{{portfolioNovo.username}}</b></p>
                @if(portfolioNovo.username == ""){
                  <div class="alert alert-danger" role="alert">
                    Username não pode ser vazio!
                  </div>
                }
              </div>

              </div>
          }

        <hr class="barra-horizontal" />
        <div class="foto-e-decricao">
          <div class="text-center">

              <app-selecionar-imagem
                [imagem]="portfolio.foto"
                [somenteVisualizacao]="!editando"
                (imagemAlterada)="atualizarFotoPortfolio($event)"
                (imagemRemovida)="portfolioNovo.foto = null">
              </app-selecionar-imagem>

          </div>
          <div class="">
            <!--      <p><strong>Email:</strong> {{ portfolio.email }}</p>-->
            <div class="descricao">

<!--              <div style="max-width: 1000px">-->

                @if (!editando){
                  <div class="descricao-view quebrar-linha">
                  <p class="quebrar-linha" style="font-size: 20px" >{{ portfolio.descricao }}
                  </p>
                  </div>
                } @else {
                  <p class="titulo-sobre-mim text-center">Descrição</p>
                  <textarea id="descricao" class="form-control textarea-descricao" [(ngModel)]="portfolioNovo.descricao"  rows="5"  maxlength="400"></textarea>
                  <div class="contador-caracteres text-end mt-1" style="font-size: 14px; color: gray;">
                    {{ portfolioNovo.descricao.length || 0 }}/400
                  </div>
                }

<!--              </div>-->
            </div>
            <!--      <p *ngIf="portfolio.link"><strong>Link do projeto:</strong> <a [href]="portfolio.link" target="_blank">{{ portfolio.link }}</a></p>-->
          </div>
        </div>
        <hr class="barra-horizontal" />

        <div class="localizacao-container">
          <div class="localizacao-content">
            @if (editando){
            <h3 class="titulos">Localização</h3>
            <input type="text" class="form-control" [(ngModel)]="portfolioNovo.localizacao"  maxlength="50"/>

            } @else {
              <p class="localizacao-text">{{ portfolio.localizacao }}</p>
            }
          </div>
        </div>
<!--         Redes sociais -->
        <div class="links-container">


        @if (!editando) {
          <div class="links-content">
          @if(portfolioNovo.links != null && portfolioNovo.links.length> 0){
                @for (link of portfolio.links; track $index)
                {

                  <a class="link-container-view"  href="{{link.url}}">
                    <div>
                      @if (links.includes(link.nome)) {
                      <img
                        [src]="'links/' + link.nome+ '.png'"
                        [alt]="link.nome"
                        class="link-icon-view"
                      >
                      } @else {
                        <img
                          src="/links/link.png"
                          alt="link"
                          class="link-icon-view"
                        >
                      }
                    </div>
                    <div>
                      <p>
                        {{ link.nome }}
                      </p>
                    </div>
                  </a>

                }
          }
          </div>
        }
        @else {

          <h3 class="titulos">Links externos</h3>
          <div class="links-content links-content-edit">
              @for ( link of portfolioNovo.links; track $index)

              {
<div class="nome-e-link">
  <div class="nome-link-content card">
    <div class="icon-e-x-link">
      @if (links.includes(link.nome)) {
      <img
        [src]="'links/' + link.nome+ '.png'"
        [alt]="link.nome"
        class="habilidade-icon"
      >
    } @else {
        <img
          src="/links/link.png"
          alt="link"
          class="habilidade-icon"
        >
      }
    <button class="btn btn-close excluir-link " (click)="deleteLink(link.nome)" ></button>
    </div>
    <div>
    <app-links-autocomplete
                  [searchText]="link.nome"
                  [linkInicial]="link.nome"
                  (retornarLinkInicialEPosterior)="alterarLinks($event)"
                ></app-links-autocomplete>

    </div>

    <div class="url-link-content">
      <label>Url</label>
      <input type="text"
             class="link-url-input form-control"
             [(ngModel)]="link.url" />
    </div>
              </div>

</div>
              }
            <div (click)="addLinkNovo()" class="add-link-botao" >
              <img src="plus.png" alt="add" width="100%" />
            </div>
          </div>
        }


        </div>

<!--habilidades-->
        <div class="habilidades-container">
          <h2 class="titulos">Habilidades</h2>
          @if (!editando){

              <ul class=" habilidades-view habilidades-content">
                <li *ngFor="let habilidade of portfolio.habilidades" class="">
                  {{ habilidade }}
                  @if (languages.includes(habilidade)) {
                    <img
                      [src]="langUrl + habilidade"
                      [alt]="habilidade"
                      class="habilidade-icon"
                    >
                  }
                </li>
              </ul>

          } @else {


            <div class="habilidades-edit habilidades-content">
              @for (habilidade of portfolioNovo.habilidades; track $index) {

                <div class="habilidade">
                <app-autocomplete
                  [searchText]="habilidade"
                  [habilidadeInicial]="habilidade"
                  (retornarHabilidadeInicialEPosterior)="alterarHabilidades($event)"
                  ></app-autocomplete>
                  <div class="icon-e-x">

                    <button class="btn btn-close"  (click)="deleteHabilidade(habilidade)" ></button>

                </div>
                </div>
              }

            </div>
            <div class="add-habilidade">
              <p>Adicione uma habilidade:</p>
              <app-autocomplete
                [searchText]="''"
                [habilidadeInicial]="''"
                (retornarHabilidadeInicialEPosterior)=alterarHabilidades($event)
              >
              </app-autocomplete>
            </div>
          }
        </div>

        <!-- Projetos -->
        <div style="margin-bottom: 20px">
        <h1 class="titulos">Projetos</h1>
        <app-listar-projetos
          [listaEmQuestao]="portfolio.projetos"
          [editando]="editando"
          (retornar)="atualizarProjetos($event)">
        </app-listar-projetos>
        </div>

      </div>

    </div>
  }

  @if(modal.isOpen){
    <app-modal
      [title]="modal.title"
      [message]="modal.message"
      [confirmButtonText]="modal.confirmButtonText"
      [closeButtonText]="modal.closeButtonText"
      [danger]="modal.danger"
      [carregandoClose]="modal.carregandoClose"
      [carregandoConfirm]="modal.carregandoConfirm"
      [salvarAlteracoes]="modal.salvarAlteracoes"

      (closeModal)="cancelarModal()"
      (confirmModal)="sairCancelandoOuSalvando($event)"
    ></app-modal>
  }

  }
</div>

<app-footer>

</app-footer>

