.quebrar-linha{
  word-wrap: break-word;      /* forma antiga */
  overflow-wrap: break-word;  /* padrão atual */
  word-break: break-word;     /* fallback */
  white-space: normal;        /* garante quebra */
}
.nao-ultrapassar-linha {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mostrar-portfolio-container{
  //min-width: 1000px;
  //@media (max-width: 800px) {
  //  max-width: 500px;
  //}

}



.foto{
  width: 230px;
  object-fit: cover;
  border-radius: 40px;
  border: 2px solid #000;
}

.voltar-lista-portfolios-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.listar-portfolios-ahref{
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.nome-breve-descricao-container{
  display: flex;
  background: #343a40;
  color: white;
  padding: 2rem 0;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.nome-breve-descricao-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nome-breve-descricao{
  display: flex;
  flex-direction: column;

  max-width: 500px;
  label{
    margin-bottom: 5px;
  }
}

.username-container{
  //border : 1px solid #000;
  border-radius: 10px;
  margin:10px;
}

.username-content{
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





.nome-text{
  font-size: 38px;
}

.breve-descricao-view{
  font-size: 18px;
}

.breve-descricao-edit{
  height: 150px;
}


.adicionar-foto{
  width: 230px;
  height: 230px;
  border-radius: 40px;
  border: 2px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  button{
    padding:6px;
  }
}

.mostrar-portfolio-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //border: 1px solid var(--text-color);
  min-height: 700px;
}

.descricao {
  max-width: 700px;
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //border-radius: 2px;
  //border: 1px solid #000;

}



.foto-e-decricao{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  @media (max-width: 1000px) {

    flex-direction: column;
    align-items: center;
  }
}

.titulo-sobre-mim{
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--text-color);
}
.descricao-view{
  width: 600px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    width: 500px;
  }
  @media (max-width: 650px) {
    width: 300px;
  }

}
.textarea-descricao{
  width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  @media (max-width: 700px) {
    width: 400px;
  }
  @media (max-width: 550px) {
    width: 300px;
  }
}



.habilidades-container{
  padding-top: 20px;
  background-color: #ece8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h2{
    text-align: center;
  }
  .titulos{
  }

}
.link-container-view {
  color :black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    //background: radial-gradient(circle, #d1d9ea, #ffffff);
    //border-radius: 40px;
    //transition: transform 0.7s ease, background-color 0.7s ease;
    transform: scale(1.04);
  }
}

.link-icon-view{
  width: 50px;
  height: 50px;
}
.habilidade{
  max-width: 214px;
  margin:0;
  display: flex;
  flex-direction: row;
  &:hover{
    background: radial-gradient(circle, #d6d3d3, #ece8e8);
    border-radius: 10px;
    transition: transform 0.7s ease;
    transform: scale(1.02);
  }
}
.habilidade-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.habilidades-view{
  gap: 10px;

}

.habilidades-edit{
  text-align: start;
}
.icon-e-x{
  margin-top : 20px;
}
.habilidades-content {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  @media (max-width: 700px) {
    width: 400px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 400px) {
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
  }


}
.add-habilidade{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}

.excluir-link{

}
.links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h2{
    text-align: center;
  }
  margin-bottom: 20px;
  margin-top: 20px;

}
.links-content {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
  gap: 20px;
  div{
    margin:0 10px 0 10px;
  }
  .url-link-content{
    margin-bottom: 10px;
  }
}
.links-content-edit{
  display: grid;
  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
  }
}



.icon-e-x-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin-top:10px;
}
.div-com-40px{
  width: 40px;
  height: 40px;
}


.nome-e-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.add-link{
  //*{
  //  position: relative;
  //  bottom: 20px;
  //}
}
.add-link-botao{
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

.add-link-botao:hover{
  background-color: #b7d0e8;
  border-radius: 50%;
  transition: transform 0.7s ease, background-color 0.7s ease;
  transform: scale(1.2);
}

.impedido {
  cursor: not-allowed;
  opacity: 0.6;
}




.titulos{
  text-align: center;
  margin:20px;
}
.localizacao-container{

}
.localizacao-content{
  input{
    width: 300px;
  }
}
.localizacao-text{
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  width: 80%;
  @media (max-width: 800px) {
    word-wrap: break-word;      /* forma antiga */
    overflow-wrap: break-word;  /* padrão atual */
    word-break: break-word;     /* fallback */
    white-space: normal;
  }
}
.barra-horizontal {
  max-width: 1000px; /* Largura da barra */
  height: 1px;
  background-color: #000; /* Cor da barra */
  border: none;
  margin: 20px 0; /* Espaçamento acima e abaixo */
}
.botao-editar{
  z-index: 70;
  position: fixed;
  left: 90%;
  top:180px;
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  box-shadow: #333333 1px 1px 4px;
  @media (max-width: 1000px) {
    left: 80%;
  }
  @media (max-width: 450px) {
    left: 60%;
  }
}
.editando{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  //width: 110px;
  gap: 10px;
  button{
    &:hover{
      transform: scale(1.04);
    }
  }
}
.lapis{
  img{
    width: 70px;
  }
  //border: 1px solid #000;
}

.edit-permitido{
  cursor: pointer;
  &:hover{
    background: radial-gradient(circle, #ffffff, rgba(216, 216, 216, 0.71));
    transition: transform 0.3s ease, background 6s ease;
    transform: scale(1.2);
  }
}

.edit-impedido{

}

.pagina-not-found{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-e-duvida{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
