.header{
  display: flex;
flex-direction: row;
justify-content: center;
  //background-color: #6e8efb;
  background-color: #c5c6ca;
  padding: 20px;
  //min-width: 1000px;
}
@media (max-width: 360px) {
  .header{
    width: 360px;
  }

}

.header-content{
  display: flex;
  flex-direction: row;
  //min-width: 500px;
  justify-content: space-between;
  align-items: center;
  //@media (max-width: 900px) {
  //  min-width: 400px;
  //}
}

@media (max-width: 400px) {
  .header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

}

//.header


.display-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.display-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


//.logo-verportfolios-verseuportfolio{
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}

.logo{
  align-self: center;
text-decoration: none;
color: inherit;
font-size: 24px;
}

.botao-com-zoom{
  border: none;
  background: transparent;
}

.botao-com-zoom:hover{
  //transition: all 0.7s ease;
  //background-color: grey;
  scale: 1.1;
}

.sair{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: center;
  img{
    width: 20px;
    height: 20px;
  }
}
