<div #tiltCard class="card portfolio-container" [title]="portfolio.username">
  <div class="portfolio-content">
    @if (carregando){
      <div class="carregando">
        <h3 class="sr-only">Carregando</h3>
        <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 40px;height: 40px"></div>
      </div>
    } @else {

    <img class="background-img " src="background-padrao.png" alt="Imagem de fundo do portfólio" />
<!--    <div class="foto-e-nome">-->
  @if (portfolio.foto != null) {
    <img class="imagem-portfolio-card" [src]="'data:' + portfolio.foto.contentType + ';base64,' + portfolio.foto.data"
         alt="Imagem de {{ portfolio.username }}"/>
    } @else {
    <img src="icon-profile.png" class="imagem-portfolio-card" alt="Imagem de {{ portfolio.username }}"/>
    }

    @if (portfolio.nome) {
    <div class="nome-portfolio">
      <p class = "nao-ultrapassar-uma-linha"> {{ portfolio.nome }}</p>
    </div>
    }
    <!--    </div>-->
        @if (portfolio.breveDescricao){
    <div class="breve-descricao-portfolio">
      <p class="nao-ultrapassar-duas-linhas"> {{ portfolio.breveDescricao }}</p>
    </div>
    }

    @if (portfolio.localizacao){
    <div class="localizacao-portfolio">
      <img src="localizacao.png" alt="">
      <p class="nao-ultrapassar-uma-linha"> {{ portfolio.localizacao }}</p>
    </div>
    }
    <!--    <hr>-->

        @if (portfolio.habilidades){
    <div class="habilidades-portfolio">
      <p class="nao-ultrapassar-duas-linhas">{{ Array.from(portfolio.habilidades).join(' • ') }}</p>
    </div>
    }
    <div class="div-botao-ver-portfolio">
      <button class="btn btn-secondary" (click)="irParaPortfolio(portfolio.username)">Ver Portfólio</button>
    </div>
    }

  </div>
</div>
