/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}




*{
  font-family: 'Roboto', sans-serif;
}


// barra de rolagem

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar:hover {
  cursor: auto;
}

// Modal

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.confirmacao-box {
  max-width: 150px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.carregando{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.duvida{
  padding: 1px;
  position: relative;
  left: 30%;
  img{
    width: 45px;
    height: 45px;

    }

  }

.tooltip-container {
  position: absolute;
  padding-left: 800px;
  padding-bottom: 80px;
  @media (max-width: 1200px) {
    padding-left: 300px;
    padding-bottom: 0;
    padding-top: 50px;

  }
}

.tooltip-text {
  width: 100%;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
padding: 6px 10px 3px 10px;
  white-space: nowrap;
  text-align: center;
}
