.adicionar-foto {
  width: 230px;
  height: 230px;
  //border-radius: 50%;
  border-radius: 40px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

//.sublinhado{
//  border: 2px dashed #000;
//}

.adicionar-foto button {
  padding: 6px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}


.preview-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  //border-radius: 50%;
}


.botao-remover {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #d32f2f;
}

.botao-remover:hover {
  background-color: #b71c1c;
}
//.botao-adicionar-foto{
//  background-color: lightgray;
//}
