.footer{
  background-color: #c5c6ca;
  padding: 20px;
  text-align: center;
  bottom: 0;
  min-width: 1000px;
  p{
    a{
      color: rgba(0, 72, 255, 0.71);
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
