.footer {
  background-color: #c5c6ca;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  min-height: 64px;
  box-sizing: border-box;

  p {
    a {
      color: rgba(0, 72, 255, 0.71);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}